@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    background-color: #1e1e1e;
    font-family: "Montserrat", sans-serif;
    font-size: max(1.5vw, 16px);
    line-height: 1.5;
    color: #fff;
    font-weight: 200;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
main {
    width: 78vw;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 430px) {
    main {
        width: 86vw;
    }
}

img {
    max-width: 80vw;
    display: block;
}

img:first-child {
    margin-top: 3rem;
}

figure {
    margin: 0;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
    max-width: 40em;
}

h3 {
    font-size: 1rem;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 800;
    margin-top: 7rem;
}